@use "../helpers" as *;

.hero {
  &__inner {
    padding-top: fluid(150, 100);
    padding-bottom: fluid(80, 30);
    display: grid;
    gap: fluid(80, 20);

    @include tablet-above {
      grid-template-columns: 60% auto;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: fluid(30, 15);

    &-info {
      display: grid;
      row-gap: rem(10);
    }

    &-search {
      display: flex;
      column-gap: rem(20);

      &__label {
        flex: 1;
        position: relative;
      }

      &__icon {
        @include abs-y;
        @include square(#{rem(30)});

        position: absolute;
        left: rem(5);
        fill: var(--color-text-light);
      }

      &__input {
        width: 100%;
        border-radius: rem(30);
        border: 1px solid var(--color-border);
        padding-block: rem(15);
        padding-inline: rem(40) rem(15);

        &:focus {
          outline: none;
          border-color: var(--color-base-light);
        }
      }

      &__button {
        min-width: rem(120);
        background-color: var(--color-button);
        border: none;
        border-radius: rem(30);
        padding-block: rem(15);
        color: var(--color-light);
        flex-shrink: 0;

        @include hover {
          background-color: #2c9e32;
        }
      }
    }

    &-ingredient {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(10);
    }
  }

  &__extra {
    @include tablet {
      justify-self: center;
    }

    &-image {
      --size: #{fluid(550, 420)};

      @include square(var(--size));

      object-fit: cover;
      border-radius: rem(30);
    }
  }
}
