@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.2;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-text-base: #1f2937;
  --color-text-light: #6b7280;
  --color-light: #ffffff;
  --color-pale: #fafaf8;
  --color-accent: #ff8a00;
  --color-base: #2e7d32;
  --color-button: #38c33f;
  --color-base-light: #a9d6a7;
  --color-error: #e53935;
  --color-border: #e1e5ed;
  --border: 0.0625rem solid #e5e7eb;
  --font-family-base: "Poppins", sans-serif;
  --container-width: 100rem;
  --dish-container-width: 84.375rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.recipe-container {
  max-width: calc(var(--dish-container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 48.06125rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 48.06125rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  font-family: var(--font-family-base);
  color: var(--color-text-light);
  background-color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: var(--color-text-base);
}

h1,
.h1 {
  font-size: clamp(1.75rem, 1.2401960784rem + 2.091503268vw, 3.75rem);
}

h2,
.h2 {
  font-size: clamp(1.25rem, 1.0588235294rem + 0.7843137255vw, 2rem);
}

h3,
.h3 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h4,
.h4 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  pointer-events: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.icon {
  --size: 1.5625rem;
  width: var(--size);
  height: var(--size);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--color-light);
  border-bottom: var(--border);
}
.header__inner {
  padding-block: clamp(0.625rem, 0.306372549rem + 1.3071895425vw, 1.875rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.header__logo {
  display: flex;
  align-items: center;
  column-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  font-size: clamp(1.125rem, 0.7745098039rem + 1.4379084967vw, 2.5rem);
  font-weight: 700;
  color: var(--color-text-base);
}
@media (width <= 48.06125rem) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  font-size: 1.25rem;
}
@media (width <= 63.99875rem) {
  .header__menu-list {
    font-size: 1rem;
    column-gap: 0.625rem;
  }
}
@media (any-hover: hover) {
  .header__menu-link:hover {
    color: var(--color-base-light);
  }
}
@media (any-hover: none) {
  .header__menu-link:active {
    color: var(--color-base-light);
  }
}
.header__search-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.header__search-field {
  position: relative;
}
.header__search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  left: 0.3125rem;
  fill: var(--color-text-light);
}
@media (width <= 63.99875rem) {
  .header__search-icon {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.header__search-input {
  border: var(--border);
  background-color: var(--color-border);
  padding-block: 0.625rem;
  padding-inline: 2.1875rem 0.9375rem;
  border-radius: 1.875rem;
}
@media (width <= 63.99875rem) {
  .header__search-input {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.header__search-input:focus {
  outline: none;
  border-color: var(--color-base-light);
}

.title--accent {
  color: var(--color-base);
}

.user__icon {
  border-radius: 50%;
  background-color: var(--color-pale);
  flex-shrink: 0;
}

.ingredient {
  padding: 0.625rem 0.9375rem;
  background-color: var(--color-border);
  border-radius: 1.25rem;
}
.ingredient--skeleton {
  width: 6.25rem;
  height: 2.5rem;
}
@media (any-hover: hover) {
  .ingredient:hover {
    background-color: var(--color-base-light);
    color: var(--color-base);
  }
}
@media (any-hover: none) {
  .ingredient:active {
    background-color: var(--color-base-light);
    color: var(--color-base);
  }
}

.hero__inner {
  padding-top: clamp(6.25rem, 5.4534313725rem + 3.2679738562vw, 9.375rem);
  padding-bottom: clamp(1.875rem, 1.0784313725rem + 3.2679738562vw, 5rem);
  display: grid;
  gap: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
}
@media (width > 63.99875rem) {
  .hero__inner {
    grid-template-columns: 60% auto;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem);
}
.hero__body-info {
  display: grid;
  row-gap: 0.625rem;
}
.hero__body-search {
  display: flex;
  column-gap: 1.25rem;
}
.hero__body-search__label {
  flex: 1;
  position: relative;
}
.hero__body-search__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  left: 0.3125rem;
  fill: var(--color-text-light);
}
.hero__body-search__input {
  width: 100%;
  border-radius: 1.875rem;
  border: 1px solid var(--color-border);
  padding-block: 0.9375rem;
  padding-inline: 2.5rem 0.9375rem;
}
.hero__body-search__input:focus {
  outline: none;
  border-color: var(--color-base-light);
}
.hero__body-search__button {
  min-width: 7.5rem;
  background-color: var(--color-button);
  border: none;
  border-radius: 1.875rem;
  padding-block: 0.9375rem;
  color: var(--color-light);
  flex-shrink: 0;
}
@media (any-hover: hover) {
  .hero__body-search__button:hover {
    background-color: #2c9e32;
  }
}
@media (any-hover: none) {
  .hero__body-search__button:active {
    background-color: #2c9e32;
  }
}
.hero__body-ingredient {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
@media (width <= 63.99875rem) {
  .hero__extra {
    justify-self: center;
  }
}
.hero__extra-image {
  --size: clamp(26.25rem, 24.1789215686rem + 8.4967320261vw, 34.375rem);
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  border-radius: 1.875rem;
}

.section__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.section__link {
  color: var(--color-base);
  flex-shrink: 0;
}
@media (any-hover: hover) {
  .section__link:hover {
    color: #256929;
  }
}
@media (any-hover: none) {
  .section__link:active {
    color: #256929;
  }
}

.cuisines__inner {
  padding-block: clamp(1.875rem, 1.0784313725rem + 3.2679738562vw, 5rem);
}
.cuisines__cards {
  --columns: 4;
  padding-top: clamp(1.25rem, 0.7720588235rem + 1.9607843137vw, 3.125rem);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1rem;
}
@media (width <= 63.99875rem) {
  .cuisines__cards {
    --columns: 3;
  }
}
@media (width <= 48.06125rem) {
  .cuisines__cards {
    --columns: 2;
  }
}
@media (width <= 30.06125rem) {
  .cuisines__cards {
    --columns: 1;
  }
}
.cuisines__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3125rem;
  overflow: hidden;
}
.cuisines__card-image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 1.875rem;
  overflow: hidden;
}
.cuisines__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.875rem;
  transition-duration: var(-o-transition-duration);
}
@media (any-hover: hover) {
  .cuisines__card-image:hover {
    scale: 1.2;
  }
}
@media (any-hover: none) {
  .cuisines__card-image:active {
    scale: 1.2;
  }
}
.cuisines__card-title--skeleton {
  width: 7.5rem;
  height: 1.5rem;
  border-radius: 1rem;
}
.cuisines__card-recipes--skeleton {
  width: 8.125rem;
  height: 1rem;
  border-radius: 1rem;
}

.recipes__inner {
  padding-block: clamp(0.625rem, 0.306372549rem + 1.3071895425vw, 1.875rem);
}
.recipes__amount--skeleton {
  width: 15.625rem;
  height: 1.5rem;
  border-radius: 1.25rem;
}
.recipes__cards {
  padding-block: clamp(1.25rem, 0.7720588235rem + 1.9607843137vw, 3.125rem);
  display: grid;
  gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
@media (width > 48.06125rem) {
  .recipes__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.recipe-card {
  width: 100%;
  border: var(--border);
  box-shadow: 5px 2px 5px var(--color-border);
  border-radius: 1.875rem;
  display: grid;
  row-gap: 1.25rem;
  transition-duration: var(--transition-duration);
}
@media (width > 48.06125rem) {
  .recipe-card {
    max-width: 31.25rem;
  }
}
@media (any-hover: hover) {
  .recipe-card:hover {
    box-shadow: 5px 5px 5px var(--color-border);
  }
}
@media (any-hover: none) {
  .recipe-card:active {
    box-shadow: 5px 5px 5px var(--color-border);
  }
}
.recipe-card__image {
  border-radius: 1.875rem 1.875rem 0 0;
  transition-duration: var(--transition-duration);
  max-height: 21.875rem;
  object-fit: cover;
}
@media (any-hover: hover) {
  .recipe-card__image:hover {
    scale: 1.1;
  }
}
@media (any-hover: none) {
  .recipe-card__image:active {
    scale: 1.1;
  }
}
@media (width <= 48.06125rem) {
  .recipe-card__image {
    width: 100%;
  }
}
.recipe-card__image-wrapper {
  max-height: 21.875rem;
  overflow: hidden;
  border-radius: 1.875rem 1.875rem 0 0;
}
.recipe-card__image-wrapper--skeleton {
  max-width: 31.25rem;
  height: 31.25rem;
}
.recipe-card__info {
  padding-inline: 1.25rem;
  display: grid;
  row-gap: 0.625rem;
  margin-bottom: 1.25rem;
}
.recipe-card__info-text {
  width: 100%;
  height: 1rem;
  margin-bottom: 0.3125rem;
  border-radius: 1.25rem;
}
.recipe-card__info-text:last-child {
  width: 80%;
}
.recipe-card__title {
  font-weight: 600;
}
.recipe-card__cuisines {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3125rem;
}
.recipe-card__category {
  color: var(--color-text-light);
}
.recipe-card__category:not(:last-child)::after {
  content: "•";
  padding-left: 0.3125rem;
}
.recipe-card__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.25rem;
}
.recipe-card__meta-item {
  display: flex;
  align-items: center;
  column-gap: 0.3125rem;
}
.recipe-card__meta-icon {
  fill: currentColor;
}
.recipe-card__tags {
  display: flex;
  align-items: center;
  gap: 0.625rem 1.25rem;
}
.recipe-card__tag {
  padding: 0.3125rem;
  background-color: var(--color-base-light);
  color: var(--color-base);
  border-radius: 0.3125rem;
}

.main {
  background-color: var(--color-pale);
}
.main__inner {
  padding-top: clamp(6.25rem, 5.4534313725rem + 3.2679738562vw, 9.375rem);
  padding-bottom: 3.125rem;
}
@media (width > 63.99875rem) {
  .main__inner:has(.filters) {
    display: grid;
    grid-template-columns: 18.75rem 1fr;
    column-gap: clamp(0.625rem, 0.1470588235rem + 1.9607843137vw, 2.5rem);
  }
}
.main__header {
  padding-bottom: 1.875rem;
}

.all-recipes {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.all-recipes__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem;
}
.all-recipes__left {
  display: grid;
  row-gap: 0.3125rem;
}
.all-recipes__label {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.all-recipes__select {
  padding: 0.625rem;
  border-radius: 0.625rem;
  border: var(--border);
}
.all-recipes__all {
  --columns: 3;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1.25rem;
}
@media (width <= 90.06125rem) {
  .all-recipes__all {
    --columns: 2;
  }
}
@media (width <= 48.06125rem) {
  .all-recipes__all {
    --columns: 1;
  }
}

.filters {
  height: calc(100vh - 9.375rem);
  padding: 1.875rem;
  background-color: var(--color-light);
  border-radius: 1.875rem;
  border: var(--border);
  row-gap: 1.25rem;
  position: sticky;
  top: 7.5rem;
  overflow-y: auto;
}
@media (width <= 63.99875rem) {
  .filters {
    display: none;
  }
}
.filters-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.625rem;
}
.filters-top__title {
  display: flex;
  align-items: center;
  column-gap: 0.3125rem;
}
.filters-top__icon {
  width: 1.25rem;
  height: 1.25rem;
}
.filters-top__clear-btn {
  border: none;
  background-color: transparent;
  color: inherit;
}

.filters-group {
  padding-block: 1.875rem;
  display: grid;
  row-gap: 0.625rem;
}
.filters-group:not(:last-child) {
  border-bottom: var(--border);
}
.filters-group__title {
  color: inherit;
  font-weight: 600;
  text-transform: uppercase;
}
.filters-group__range-input {
  appearance: none;
  padding-inline: 0.125rem;
  width: 100%;
  height: 1.25rem;
  background-color: var(--color-button);
  border-radius: 0.625rem;
}
.filters-group__range-input::-webkit-slider-thumb {
  --size: 1.0625rem;
  width: var(--size);
  height: var(--size);
  appearance: none;
  background-color: var(--color-light);
  border-radius: 50%;
}

.filters-list {
  display: grid;
  row-gap: 0.4375rem;
}
.filters-list__label {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3125rem;
}
.filters-list__input {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
  appearance: none;
  border: 0.0625rem solid var(--color-text-light);
  border-radius: 0.25rem;
}
.filters-list__input:not(:checked)::after {
  opacity: 0;
  visibility: hidden;
}
.filters-list__input::after {
  --size: 1.125rem;
  width: var(--size);
  height: var(--size);
  content: "✓";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button);
  color: var(--color-light);
  border-radius: 0.1875rem;
}

.recipe {
  display: grid;
  gap: clamp(1.25rem, 0.931372549rem + 1.3071895425vw, 2.5rem);
  grid-template-areas: "image image image" "header header header" "stat-1 stat-2 stat-3" "aside directions directions";
  color: var(--color-text-base);
}
@media (width <= 90.06125rem) {
  .recipe {
    grid-template-areas: "image image image" "header header header" "stat-1 stat-2 stat-3" "aside aside aside" "directions directions directions";
  }
}
@media (width <= 48.06125rem) {
  .recipe {
    grid-template-areas: "image" "header" "stat-1" "stat-2" "stat-3" "aside" "directions";
  }
}
.recipe__img {
  grid-area: image;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.recipe__header {
  grid-area: header;
  display: grid;
  row-gap: 0.625rem;
}
.recipe__aside {
  grid-area: aside;
  display: grid;
  row-gap: clamp(1.25rem, 0.931372549rem + 1.3071895425vw, 2.5rem);
}
.recipe__directions {
  grid-area: directions;
}
.recipe__directions-resource {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}
.recipe__directions-source {
  color: var(--color-text-light);
}
.recipe__directions-link {
  border: var(--border);
  padding: 0.625rem;
  display: flex;
  align-items: center;
  column-gap: 0.3125rem;
  flex-shrink: 0;
}
.recipe__info {
  padding: 1.875rem;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: 0.625rem;
  display: grid;
  row-gap: 1.25rem;
}
.recipe__info-title {
  font-weight: 600;
}

.recipe-stat {
  padding: clamp(1.25rem, 0.931372549rem + 1.3071895425vw, 2.5rem);
  background-color: var(--color-light);
  border: var(--border);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.recipe-stat__icon {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
}
.recipe-stat--1 {
  grid-area: stat-1;
}
.recipe-stat--2 {
  grid-area: stat-2;
}
.recipe-stat--3 {
  grid-area: stat-3;
}
.recipe-stat__body {
  display: grid;
  row-gap: 0.3125rem;
}
.recipe-stat__label {
  color: var(--color-text-light);
}

.recipe-list {
  display: grid;
  row-gap: 0.625rem;
}
.recipe-list__ingredients {
  list-style-type: disc;
}
.recipe-list__nutritions-item, .recipe-list__timing-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-light);
}
.recipe-list__item-num {
  color: var(--color-text-base);
}
.recipe-list__timing-item:not(:last-child) {
  padding-bottom: 0.625rem;
  border-bottom: var(--border);
}
.recipe-list__directions {
  padding-bottom: 0.625rem;
  border-bottom: var(--border);
}

/*# sourceMappingURL=main.css.map */
